#include <stdio.h>
#include <stdlib.h>
#include <time.h>

int main() {

    int i;
    float num1[10];
    float num2[10];
    float num3[10];
    float num4[10];
    float num5[10];
  

    srand(time(NULL));

    for(i = 0; i < 10; i++)
        num1[i] = rand() %500;

    printf("\n\n");
  printf("valores do vetor 1:");
    for(i = 0; i < 10; i++)
      
        printf("%.2f ", num1[i]);
    printf("\n\n");
  for(i = 0; i < 10; i++)
        num2[i] = rand() %500;

    printf("\n\n");
  printf("valores do vetor 2:");
    for(i = 0; i < 10; i++)
      
        printf("%.2f ", num2[i]);
    printf("\n\n");
  for(i = 0; i < 10; i++)
        num3[i] = rand() %500;

    printf("\n\n");
  printf("valores do vetor 3:");
    for(i = 0; i < 10; i++)
      
        printf("%.2f ", num3[i]);
    printf("\n\n");
for(i = 0; i < 10; i++)
        num4[i] = rand() %500;

    printf("\n\n");
  printf("valores do vetor 4:");
    for(i = 0; i < 10; i++)
      
        printf("%.2f ", num4[i]);
    printf("\n\n");
  for(i = 0; i < 10; i++)
        num5[i] = rand() %500;

    printf("\n\n");
  printf("valores do vetor 5:");
    for(i = 0; i < 10; i++)
      
        printf("%.2f ", num5[i]);
    printf("\n\n");
    return 0;
}
